<!doctype html>
<html>
<head>
  <title>A Compliment</title>
</head>
<body>
  <form>
    Enter a name:<input type="text" name="name">
    Select a color: 
      <select>
        <option value="blue">Blue</option>
        <option value="red">Red</option>
        <option value="yellow">Yellow</option>
        <option value="Pink">Pink</option>
      </select>
    Select a noun: 
      <select>
        <option value="plant">Plant</option>
        <option value="chair">Chair</option>
        <option value="window">Window</option>
        <option value="dog">Dog</option>
      </select><br>
    Enter an adjective:<input type="text" name="adjective"><br>
    <input type="submit" name="submit-button">
  </form> 
   
</body>
</html>